@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter Tight", sans-serif;
}

nav {
  z-index: 99;
  background-color: transparent;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}
