.smallBtn {
  background: transparent;
  font-weight: 500;
  font-size: 10pt;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 8px 16px;
  border-radius: 50px;
  color: white;
  transition: all 0.3s;
  margin: 10px 0;
  opacity: 0.75;
}

.smallBtn:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.smallBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.smallBtn span .icon {
  content: "f0546";
  position: absolute;
  opacity: 0;
  top: 4px;
  transition: all 0.5s;
}

.smallBtn:hover span {
  padding-right: 20px;
}

.smallBtn:hover span .icon {
  opacity: 1;
  right: 0;
}
