.footer {
  position: static;
  bottom: 0;
  padding: 20px 20px !important;
  width: 100%;
  background-color: #3a3a3a;
  color: white;
  padding: 40px 0 10px 0;
}
.footer .about {
  margin-right: 50px;
}

.footer h1 {
  text-align: center;
  padding: 20px;
}

.footer .logo {
  width: 25%;
  opacity: 0.8;
  margin-bottom: 10px;
  user-select: none;
}

.footer p {
  color: grey;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: grey;
  text-decoration: none;
}

.footer a:hover {
  color: white;
}

.footerNav {
  width: 200px;
}

hr {
  color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid white;
  opacity: 0.15;
}

.footer .responsiveNav {
  display: none;
}

.discover {
  background-color: #ffffff;
  border-radius: 40px;
  width: 100%;
  padding: 0 0 0 10px;
}

.discover span {
  color: black;
  margin: auto 5px;
  transform: translateY(-2px);
}

.discover input {
  border: none;
  outline: none;
  width: 55%;
  background-color: transparent;
}

.discover button {
  height: 32px;
  margin: 2px;
  position: relative;
  width: 100px;
  background-color: #a99146;
  line-height: 0;
  color: white;
  border: 5px solid #a99146;
}

.subscribeBox {
  max-width: 350px;
}

@media only screen and (max-width: 767px) {
  .footer .about {
    margin-right: 0 !important;
    width: 200px;
    margin-right: 40px !important;
  }

  .footer .logo {
    width: 50%;
    opacity: 0.8;
    margin-bottom: 10px;
  }

  .footer .desktopNav {
    display: none !important;
  }

  .footer .responsiveNav {
    display: block;
  }

  .footer .rights {
    text-align: center;
    font-size: 9pt;
  }

  .subscribeBox {
    max-width: 100%;
  }
}
